<div class="container">
    <div class="row">
        <form action="/alugar/<%= @veiculo.id %>" method="POST">
            <div class="row" >
                <div class="col-lg-7 itemLista">
                    <div class="col-lg-4">
                        <p><%= @veiculo.nome %></p>
                        <img href="" src="https://combustivel.app/imgs/t650/consumo-onix-lt-1-0.jpg" style="width: 100%"/>
                    </div>
                    <div class="col-lg-6 detalhesContainer">
                        <div class="detalhesVeiculo">
                            <p class="card-text">Qntd Passageiros</p>
                            <p><%= @veiculo.qnt_passageiros %></p>
                        </div>
                        <div class="detalhesVeiculo">
                            <p class="card-text">Marca</p>
                            <p><%= @veiculo.marca.nome %></p>
                        </div>
                        <div class="detalhesVeiculo">
                            <p class="card-text">Cor</p>
                            <p><%= @veiculo.cor %></p>
                        </div>
                    </div>
                    <div class="col-lg-6 ofertasInfo">
                        <h4>Incluso no preço:</h4>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <p>Melhor preco Garantido</p>
                                    </div>
                                    <div class="col-lg-7">
                                        <p>Sem taxa de alteraçao</p>
                                    </div>
                                    <div class="row">
                                        <p>Taxas da Locadoraa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pagamentoContainer">
                        <div class="col-sm-12">
                            <div class="row" style="border-bottom: 1px solid #fff;">
                                <p style="text-align: center; font-weight: bold; font-size: 1.5em;"> <%= @veiculo.nome%> </p>
                            </div>
                            <dl classs="dl-horizontal" style="text-align: center">
                                <dt>Valor/Dia</dt>
                                <dd>
                                    <%= number_to_currency(@veiculo.valor)%>
                                </dd>
                                <dt>Qnt Dias</dt>
                                <dd>
                                    <select name="dias" id="dias" class="custom-select" style="max-width: 90px" onchange="atualizaTotal(<%= @veiculo.valor%>)">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </dd>
                                <dt>Valor Total</dt>
                                <dd>
                                    <p id="valorTotal"><%= number_to_currency(@veiculo.valor)%></p>
                                </dd>
                            </dl>
                        </div>
                        <input type="submit" value="Alugar" class="btn btn-success" style="margin: auto; display: block; padding: 9px 32px; font-size: 1.2em;" onclick="finalizarPagamento(event, <%= @veiculo.valor %>, <%= @veiculo.id %>)">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12" style="max-width: 500px; margin: auto;">
                    <div class="form-group">
                        <div class='col-sm-12'>
                            <%= label_tag :cardNumber, "Numero do Cartão" %>
                            <input class="form-control credit_card" type="text" name="cardNumber" id="cardNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='col-sm-12'>
                            <%= label_tag :cardName, "Nome do Cartão" %>
                            <input class="form-control" type="text" name="cardName" id="cardName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='col-sm-12'>
                            <%= label_tag :expirationDate, "Data de validade" %>
                            <input class="form-control" type="month" name="expirationDate" id="expirationDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='col-sm-12'>
                            <%= label_tag :cvv, "CVV" %>
                            <input class="form-control cvv" type="text" name="cvv" id="cvv">
                      </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="loaderContainer" style="display: none;">
    <div class="loader"></div>
<div>

<style>
    .pagamentoContainer{
        background-color: #ccc;
        margin-left: 25px;
        padding: 15px;
        min-height: 250px
    }

    .ofertasInfo{
        padding-left: 5%;
    }

    .ofertasInfo p, .ofertasInfo h4{
        color: green;
    }

    .itemLista{
        background-color: #ccc;
        padding: 15px;
        min-height: 250px;
    }

    .detalhesContainer{
        display: flex;
        justify-content: space-around;
        text-align: center;
        border-bottom: 1px solid #000;
    }

    .detalhesContainer .card-text {
        font-weight: bold;
        font-size: 1.1em;
    }

    .loaderContainer{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
    }

.loader{
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    margin: auto;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #43db34;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-keyframes: rotate(0deg) }
    100% { -webkit-keyframes:  rotate(360deg) }
}

@keyframes spin{
    0% { transform: rotate(0deg) }
    100% { transform:  rotate(360deg) }
}


</style>

<script>
    $('.credit_card').mask('0000.0000.0000.0000');
    $('.cvv').mask('000');

    //PagSeguroDirectPayment.setSessionId("<%= @session_id %>");

    function atualizaTotal(valorVeiculo) {
        const qntDias = document.getElementById('dias').value;
        document.getElementById('valorTotal').innerText = `R$ ${parseInt(qntDias) * valorVeiculo}`;
    }

    function finalizarPagamento(e, valor_veiculo, veiculo_id) {
        document.querySelector('.loaderContainer').style.display = "block";

        e.preventDefault();
        const cardNumber = document.getElementById("cardNumber").value;
        const cardNumberFiltered = cardNumber.replaceAll('.', '');
        const bin = cardNumberFiltered.substring(0,6);

        const cardName = document.getElementById("cardName").value;

        const expirationDate = document.getElementById("expirationDate").value;
        const expirationMonth = expirationDate.split('-')[1];
        const expirationYear = expirationDate.split('-')[0];

        const cvv = document.getElementById("cvv").value;

        const qntDias = document.getElementById('dias').value;
        const valorTotal = valor_veiculo * qntDias;

        PagSeguroDirectPayment.getPaymentMethods({
            amount: valorTotal,
            success: function(response){
                PagSeguroDirectPayment.onSenderHashReady( function(response){
                    if(response.status == 'error') {
                        console.log();
                        return false;
                    }
                    var hash = response.senderHash;
                    setTimeout(function(){
                    PagSeguroDirectPayment.getBrand({
                        cardBin: bin,
                        success: function(response) {
                            const brand = response.brand.name;
                            PagSeguroDirectPayment.getInstallments({
                                amount: valorTotal,
                                maxInstallmentNoInterest: 12, //ate quanto parcelado sem juros
                                brand: brand,
                                success: function(response) {
                                    PagSeguroDirectPayment.createCardToken({
                                        cardNumber: cardNumberFiltered,
                                        brand: brand,
                                        cvv: cvv,
                                        expirationMonth: expirationMonth,
                                        expirationYear: expirationYear,
                                        success: function(response){
                                            var url = "/alugar/"+ veiculo_id
                                            $.post("/alugar/" + veiculo_id, {
                                                dias: qntDias,
                                                token: response.card.token,
                                                senderHash: hash,
                                            }, function (data, status){
                                                document.querySelector('.loaderContainer').style.display = "none";
                                            })
                                        },
                                        error: function(response){
                                            document.querySelector('.loaderContainer').style.display = "none";
                                            alert('Erro ao tentar gerar token de cartao de credito');
                                        },
                                        complete: function(response){

                                        }
                                    })
                                },
                                error: function(response){
                                    document.querySelector('.loaderContainer').style.display = "none";
                                    alert('Erro ao verifiicar quantidade de parcelas disponiveis ');
                                },
                                complete: function(response) {
                                    // padrao
                                }
                            })
                        },
                        error: function(response){
                            document.querySelector('.loaderContainer').style.display = "none"
                            alert('Erro ao checar bandeira docartao de credito');
                        },
                        complete: function(response){
                            //tratamento comum para todas as chamadas
                        }
                    });
                    }
                    , 3000)
                })

            },
            error: function(){
                alert('Erro ao gerar hash de pagamento');
            },
            complete: function(){
                // to do
            }
        });
    }
</script>
